# Local .terraform files
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# TF vars & secrets
*.tfvars
*.tfvars.json

# TF local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local CLI config
.terraformrc
terraform.rc

# System/editor files
.DS_Store
.idea/
.vscode/
.env
